# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/.idea.GMac.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\Projects\Active\GMac\.idea\.idea.GMac\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
